:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --background-color: #2f303a;
  --button-background-color: #188ce8;
  --unique-color: rgba(255, 255, 255, 0.6);
  --unique-background-color: #f5f4fa;
}
/* Global styles */

body {
  width: 1600px;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* logo header styles */

.logo-hd {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
}

.logo-hd-half {
  color: var(--tittle-text-color);
}

/* nav styles */

.header {
  border-bottom: #ececec 1px solid;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.nav .nav-li:hover,
.nav .nav-li:focus {
  color: var(--accent-color);
}

.nav .nav-li {
  padding-right: 50px;
  color: var(--tittle-text-color);
}

.address-li:hover,
.address-li:focus {
  color: var(--accent-color);
}

.nav .nav-li.current {
  color: var(--accent-color);
}

.address-li {
  padding-right: 50px;
  color: var(--primary-text-color);
}

/* hero styles */
.section-title-hide {
  display: none;
  margin: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  color: var(--tittle-text-color);
}

.hero {
  width: inherit;
  min-height: 600px;
  background-color: var(--background-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  font-size: 44px;
  min-width: 696px;
  line-height: 1.36;
  font-weight: 900;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--button-background-color);
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* features styles */

.features {
  display: flex;
  justify-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.test {
  margin-right: 30px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  margin: 0;
}
/* What are we doing */

.to-do {
  padding-right: 30px;
  display: flex;
  justify-items: space-around;
  padding-bottom: 94px;
}

/* team styles */

.team {
  background-color: var(--unique-background-color);
  width: inherit;
}

.team-title {
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  color: var(--tittle-text-color);
}

.name {
  color: var(--tittle-text-color);
  margin: 0;
  padding: 30px 60px 10px 60px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.team-shadow {
  margin-right: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  justify-items: space-around;
  margin: 0px;
  padding-bottom: 94px;
  font-size: 16px;
  line-height: 1.17;
  list-style: none;
  text-align: center;
}

.team-content {
  margin: 0;
  padding-bottom: 30px;
}

/* footer styles */

.footer {
  min-height: 252px;
  width: inherit;
  background-color: var(--background-color);
}

.logo-ft {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
}

.logo-ft-half {
  color: var(--secondary-text-color);
}

.address-fiz {
  margin: 0;
  color: var(--secondary-text-color);
}

.address-fiz,
.foot-li {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.foot-li {
  color: var(--unique-color);
}

.address-foot .foot-li:hover,
.address-foot .foot-li:focus {
  color: var(--accent-color);
}

/* portfolio styles */

.page-title {
  display: none;
  margin: 0;
}

body.button,
body.buttons {
  font-family: inherit;
}

.buttons {
  font-family: inherit;
  color: var(--tittle-text-color);
  background-color: var(--unique-background-color);
  border: none;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus,
.filtres .current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.projects-title-color {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: var(--tittle-text-color);
}

.projects-link {
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  color: var(--primary-text-color);
}
